<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
    <style>
    body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #333;
        background-color: #FFA500;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #FF8C00;
        color: white;
    }
    .logo {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    </style>
</head>
<body>
    <h1>Order Confirmation</h1>
    <p>Dear {{name}},</p>
    <p>You've got tickets!</p>
    <p>Here is the QR Code to your event!</p>

    <img src="cid:image" alt="Image">
    <table>
    <thead>
        <tr>
        <th>Ticket Type</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Fee</th>
        <th>Total Price</th>
        </tr>
    </thead>
    <tbody id="ticket-table-body">
        
    </tbody>
    </table>
    <script>
        const tickets = [
            {
                ticketType: "ticket class 1",
                quantity: 2,
                price: 20,
                fee: 2,
                totalPrice: 42
            },
            {
                ticketType: "ticket class 2",
                quantity: 1,
                price: 10,
                fee: 1,
                totalPrice: 21
            },
            {
                ticketType: "ticket class 3",
                quantity: 3,
                price: 5,
                fee: 0.5,
                totalPrice: 16.5
            }  
        ]
        document.addEventListener("DOMContentLoaded", () => {
            const ticketTableBody = document.getElementById("ticket-table-body");
            tickets.forEach(ticket => {
                const row = document.createElement("tr");
                const ticketType = document.createElement("td");
                ticketType.textContent = ticket.ticketType;
                const quantity = document.createElement("td");
                quantity.textContent = ticket.quantity;
                const price = document.createElement("td");
                price.textContent = ticket.price;
                const fee = document.createElement("td");
                fee.innerHTML = ticket.fee;
                const totalPrice = document.createElement("td");
                totalPrice.textContent = ticket.totalPrice;
                row.appendChild(ticketType);
                row.appendChild(quantity);
                row.appendChild(price);
                row.appendChild(fee);
                row.appendChild(totalPrice);
                ticketTableBody.appendChild(row);
            })
            
        })

    </script>
    </script>
    <img class="logo" src="./public/envie.svg" alt="Logo">
</body>
</html>
